@model BCSDemoWebsite.Models.ViewModels.PageViewModel<BCSDemoWebsite.Models.Pages.ArticlePage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <img class="pull-right" src="@Url.ContentUrl(Model.CurrentPage.ArticleImage)" />
            <h1>
                @Html.PropertyFor(m => m.CurrentPage.ArticleHeading)
            </h1>
            <p>
                @Html.PropertyFor(m => m.CurrentPage.ArticleMainBody)
            </p>
        </div>
    </div>
</div>
