@model BCSDemoWebsite.Models.ViewModels.ListDisplayViewModel

<br />
<div class="container">
    @foreach (var page in Model.ArticlePageList)
    {

        <div class="list-group col-lg-3">
            <br />
            <div class="list-group-item active">
                @Html.PropertyFor(m => page.ArticleHeading)
            </div>
            <div class="list-group-item">
                <img src="@Url.ContentUrl(page.ArticleImage)" style="width:100px;height:100px" />
                <a href="@page.LinkURL" title="Go to Link">Read More</a>
            </div>
            <div>
            </div>
        </div>
    }
</div>
