@using BCSDemoWebsite.Models.ViewModels
@using BCSDemoWebsite.Models.Pages

@model IPageViewModel<BasePage>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Root</title>
</head>
<body>
@RenderBody()
</body>
</html>
