@using BCSDemoWebsite.Models.ViewModels
@using EPiServer.Core

@model PageViewModel<BCSDemoWebsite.Models.Pages.StartPage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="container">
    <div>
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
    </div>
    <div>
        @Html.PropertyFor(m => m.CurrentPage.Content)
    </div>
</div>

